p {
  background-color: red;
  color: yellow;
}
a {
  background-color: rgb(219, 217, 221);
  color: rgb(68, 0, 255);
  padding: 0.2em;
  margin-right: 1em;
}
.center {
  background-color: beige;
  justify-content: center;
  padding: 0 30%;
  height: 110px;
}
.laMarge {
  margin: 15px;
  padding: 20px;
}
